<!DOCTYPE html>
<html lang="en" ng-app="udaff" ng-controller="MainCtrl">
<head>
	<meta charset="UTF-8">
	<title>ХУЙ</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="style.css"
</head>
<body>
	<div class="container">
		<header class="row">
			<div class="col-md-2">
				<a href="#"><img class="img-responsive" src="http://risovach.ru/upload/2013/01/mem/pacan-narkoman_8083409_big_.jpeg" alt=""></a>
			</div>
			<nav class="col-md-7">
				<ul class="nav nav-justified">
					<li role="presentation" class="active"><a href="#" ng-click=working()>Home</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contacts</a></li>					
				</ul>
			</nav>
			<div class="col-md-3">
				<input type="text" class="search">
				<input class="btn btn-info" type="submit" value="Ищи бля">
			</div>
			{{blah}}
		</header>
	</div>
</body>
</html>